<h1>Yo! This is the user index page!</h1>

<a href="/">Return to Home Page</a>

{{#each user}}

<a href="/user/{{_id}}">
<div class="card text-center">

  <img class="card-img" src="{{profilePic}}" alt="Card image">

  <div class="card-img-overlay">
    <h5 class="card-title">{{username}}</h5>

    <p class="card-text">Favorite genre: {{favGenre}} | Age: {{Age}} | </p>


    {{#each waves}}
    <p class="card-text">Waves: {{wave_Name}}</p>
    {{/each}}
    <p class="card-text">Click on this card to log-in with this user.</p>
  </div>
</div>
</a> 

<a href="/{{_id}}/edit" class="btn btn-primary">Edit this account!</a>

{{/each}}

{{!-- Here I should be able to add a user, and delete a user --}}
<br>
<br>
<br>
<br>
<br>
<a href="/new" class="btn btn-primary">Create a new Account!</a>