<h1>Yo! This is the user index page!</h1>

{{#each user}}

<div class="card text-white">

  <img class="card-img" src="{{profilePic}}" alt="Card image">

  <div class="card-img-overlay">
    <h5 class="card-title">{{username}}</h5>

    <p class="card-text">Favorite genre: {{favGenre}} | Age: {{Age}} | </p>
    {{#each waves}}
    <p class="card-text">Waves: {{wave_Name}}</p>
    {{/each}}
    <p class="card-text">Click on this card to log-in with this user.</p>
  </div>
</div>

{{/each}}

{{!-- Here I should be able to add a user, and delete a user --}}

<a href="/new" class="btn btn-primary">Create a new Account!</a>