<main>
<h1>Welcome to your Dashboard {{user.username}}</h1>

<a href="/">Return to Home Page</a>


<div class="card text-black">

  <img class="card-img" src="{{user.profilePic}}" alt="Card image">

  <div class="card-img-overlay">
    <h5 class="card-title">{{username}}</h5>

    <p class="card-text">Favorite genre: {{user.favGenre}} | Age: {{user.Age}}</p>


    <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{wave_Name}}</h5>
  {{#each user.waves}}
    <a href="/waves/{{_id}}" class="btn btn-primary">{{wave_Name}}</a>
    <p class="card-text">{{description}}</p>
  {{/each}}
  </div>
</div>

  </div>
</div>

</main>

{{!-- This will have the user account info and the user's individual content. Here I should be able to edit the user's info, create a wave, and delete a wave --}}