<main>
<h1>Welcome to your Dashboard {{user.username}}</h1>

<a href="/">Return to Home Page</a>


<div class="card text-white">

  <img class="card-img" src="{{user.profilePic}}" alt="Card image">

  <div class="card-img-overlay">
    <h5 class="card-title">{{username}}</h5>

    <p class="card-text">Favorite genre: {{user.favGenre}} | Age: {{user.Age}}</p>


    {{#each user.waves}}
    <p class="card-text">Waves: {{wave_Name}}</p>
    {{/each}}
  </div>

</div>
</main>

{{!-- This will have the user account info and the user's individual content. Here I should be able to edit the user's info, create a wave, and delete a wave --}}