<main>
<h1>Welcome to your Dashboard {{user.username}}</h1>

<a href="/">Return to Home Page</a>


<div class="card text-black">

  <img class="card-img" src="{{user.profilePic}}" alt="Card image">

  <div class="card-img-overlay">
    <h5 class="card-title">{{username}}</h5>

    <p class="card-text">Favorite genre: {{user.favGenre}} | Age: {{user.Age}}</p>


    <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Get in your Wave</a>
  </div>
</div>

  </div>
</div>

</main>

{{!-- This will have the user account info and the user's individual content. Here I should be able to edit the user's info, create a wave, and delete a wave --}}