<a href="/user">Return to the User Index</a>
 
 {{#each wave}}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="container-img-top" src="{{backgroundImg}}" alt="">
        <h1 class="display-4">
            {{wave_Name}} Sounds</h1>
        <p class="lead">{{description}}</p>

        
    <a href="/user/{{_id}}/waves/wavesid" class="btn btn-primary btn-lg">{{wave_Name}}</a>
<br>

    <form action="/waves/{{_id}}?_method=DELETE" method="POST">
            <button type="submit">Delete this Wave!</button></form>
    
    </div>
</div>

{{/each}}